<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>The Daman Club</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css" />
  <link rel="stylesheet" href="../css/custom.css">

  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/jquery-ui.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../slick/slick.min.js"></script>
  <script src='../js/main.js'></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="member-body">
  <header class="main-header other-pages">
    <!-- <nav class="navbar nav-fix navbar-expand-lg">
      <div class="container-fluid">
        <div class="btn-menu">
          <button class="menu-btn" type="button">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="index.html">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="0.548858in" height="0.568854in"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 135.09 140.01" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
            <defs>
              <style type="text/css">
                .fil0 {
                  fill: #EEDC5B
                }
              </style>
            </defs>
            <g id="Layer_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer" />
              <g id="_1757558050544">
                <g>
                  <polygon class="fil0"
                    points="8.85,0 78.62,0 85.54,0 126.23,0 133.17,10.87 85.54,10.87 78.62,10.87 1.92,10.87 " />
                  <polygon class="fil0" points="1.97,17.38 133.82,17.38 135.09,13.8 -0,13.8 " />
                  <path class="fil0"
                    d="M8.53 24.22l116.76 0c2.64,-1.12 4.72,-2.38 6.18,-3.91 -42.62,0 -85.23,0 -127.85,0 1.05,1.55 2.79,2.81 4.91,3.91z" />
                </g>
                <rect class="fil0" x="5.28" y="27.38" width="35.09" height="29.07" />
                <rect class="fil0" x="5.28" y="57.65" width="35.09" height="29.07" />
                <rect class="fil0" x="5.28" y="87.91" width="35.09" height="52.1" />
                <rect class="fil0" x="93.83" y="27.38" width="35.09" height="29.07" />
                <rect class="fil0" x="93.83" y="57.65" width="35.09" height="29.07" />
                <rect class="fil0" x="93.83" y="87.91" width="35.09" height="52.1" />
                <path class="fil0"
                  d="M44.29 27.38l46.51 0c0,8.25 0,16.5 0,24.75 -16.14,-8.19 -31.62,-7.94 -46.51,0l0 -24.75z" />
              </g>
            </g>
          </svg>
        </a>

        <div class="collapse navigation" id="navbarScroll">
          <span class="close">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4 26.04V29.8C4 31.16 4.8 33.08 5.76 34.04L13.96 42.24C14.92 43.2 16.84 44 18.2 44H29.8C31.16 44 33.08 43.2 34.04 42.24L42.24 34.04C43.2 33.08 44 31.16 44 29.8V18.2C44 16.84 43.2 14.92 42.24 13.96L34.04 5.76C33.08 4.8 31.16 4 29.8 4H18.2C16.84 4 14.92 4.8 13.96 5.76L5.76 13.96C4.8 14.92 4 16.84 4 18.2M17 31L31 17M31 31L17 17"
                stroke="#EEDC5B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <ul class="header-menu-list">
            <li class="header-menu-items">
              <a class="header-menu-action" href="/pages">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M24 36V30M41.28 38.48C40.8 41.3 38.06 43.62 35.2 43.62H12.8C9.92 43.62 7.2 41.32 6.72 38.48L4.06 22.56C3.72 20.6 4.72 17.98 6.28 16.74L20.14 5.64C22.26 3.94 25.72 3.94 27.86 5.66L41.72 16.74C43.26 17.98 44.26 20.6 43.94 22.56L42.7 30"
                    stroke="#EEDC5B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                menu
              </a>
            </li>
            <li class="header-menu-items">
              <a class="header-menu-action" href="/pages">about - the daman club</a>
            </li>
            <li class="header-menu-items">
              <a class="header-menu-action" href="membership">membership</a>
            </li>
            <li class="header-menu-items">
              <a class="header-menu-action" href="/pages">contact us</a>
            </li>
            <li class="header-menu-items">
              <a class="header-menu-action" href="http://thedamanclub.s3-website.ap-south-1.amazonaws.com/#/">Log
                In / Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
  </header>
  <!--  -->
  <div class="membership-page">
    <div class="container-fluid">
      <div class="section-title">
        <p class="sub-title">BE A PART OF THE DAMAN CLUB</p>
        <h1 class="title">Game Zone</h1>
        <p part="text-center text-4xl">The Daman Club offers you unforgettable moments with your loved ones and gives
          everyone a
          magical experience for one and all. We believe this place is your one-stop destination to spend time with your
          family and friends. And to make your experience more enjoyable, we offer games of Snooker, Air Hockey,
          Football Table, Billiard, Chess, and Carrom to bond over games. A few moments spend here can fill your heart
          with laughter and joy.</p>
      </div>
      <section class="justify-content-center">
        <div class="container">
          <div>
            <img src="../file/pool.jpg" style="width: 423px;position: relative;">
          </div>

        </div>

      </section>
    </div>
  </div>
  <!-- <script type="text/javascript">
    document.getElementById("apply").onclick = function () {
      location.href = "http://thedamanclub.s3-website.ap-south-1.amazonaws.com/#/";
    };
  </script> -->

  <!--  -->
  <footer class="footer member-footer">
    <div class="container-fluid">
      <div class="footer-info">
        <div class="footer-info-col">
          <div class="footer-logo">
            <img src="../file/logo_yellow.png" alt="img" />
          </div>
        </div>
        <div class="footer-info-col f-menu">
          <ul class="footer-info-list">
            <li>
              <a href="/pages">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M24 36V30M41.28 38.48C40.8 41.3 38.06 43.62 35.2 43.62H12.8C9.92 43.62 7.2 41.32 6.72 38.48L4.06 22.56C3.72 20.6 4.72 17.98 6.28 16.74L20.14 5.64C22.26 3.94 25.72 3.94 27.86 5.66L41.72 16.74C43.26 17.98 44.26 20.6 43.94 22.56L42.7 30"
                    stroke="#EEDC5B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                home
              </a>
            </li>
            <li>
              <a href="/pages/aboutus">about - the daman club</a>
            </li>
            <li>
              <a href="pages/membership">membership</a>
            </li>
            <li>
              <a href="/pages/tenders">Tender And Notices</a>
            </li>
            <li>
              <a href="/pages#contact">contact us</a>
            </li>
            <li>
              <a href="http://thedamanclub.s3-website.ap-south-1.amazonaws.com/#/">log in</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <p>2023 ALL RIGHTS RESERVED. PRIVACY. TERMS AND CONDITIONS</p>
      </div>
    </div>
  </footer>

</body>

</html>